<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Miscellaneous Tools</li>
            <li class="<%= path == '/prsr' ? 'active' : '' %>"><a href="/prsr">PRSR</a></li>
        </ul>
        <ul class="nav nav-list">
            <li class="nav-header">Portal Styling</li>
            <li class="<%= path == '/addressChange' ? 'active' : '' %>"><a href="/addressChange">Address Change Portal</a></li>
            <li class="<%= path == '/iro' ? 'active' : '' %>"><a href="/iro">Independent Review Portal</a></li>
            <li class="<%= path == '/docsub' ? 'active' : '' %>"><a href="/docsub">Filing Document Submission Portal</a></li>
            <li class="<%= path == '/auditdoc' ? 'active' : '' %>"><a href="/auditdoc">Audit Document Submission Portal</a></li>
            <li class="<%= path == '/surpluslines' ? 'active' : '' %>"><a href="/surpluslines">Surplus Lines Portal</a></li>
            <li class="<%= path == '/umrefund' ? 'active' : '' %>"><a href="/umrefund">U.M. Refund Portal</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->